.container{
   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
    display: flex;
   flex-direction: row;
}

.guessesLeft {
  height: 100px;
  width: 100px;
}